  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/static/assets/noaa/NOAA_logo_small.png" alt="NOAA Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">DORA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">

        {% if current_user.is_authenticated %}
        <div class="image">
          <img src="{{current_user.profile_pic}}" class="img-circle elevation-2" alt="{{current_user.name}}">
        </div>
        <div class="info">
          <a href="/profile" class="d-block">{{current_user.name}}</a>
        </div>
        {% endif %}
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="hidden" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <!--
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
            -->
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/projects/mdt" class="nav-link">
              <i class="nav-icon fas fa-layer-group"></i>
              <p>
                MDT Experiments
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/projects/cmip6" class="nav-link">
              <i class="nav-icon fas fa-globe-americas"></i>
              <p>
                CMIP6 Experiments
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/projects/postmdt" class="nav-link">
              <i class="nav-icon fas fa-clock"></i>
              <p>
                Post-MDT Experiments
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/projects/am5dt" class="nav-link">
              <i class="nav-icon fas fa-cloud"></i>
              <p>
                AM5DT Experiments
              </p>
            </a>
          </li>

          {% if current_user.is_authenticated %}
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-project-diagram"></i>
              <p>
                Projects
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {% for project in projects %}
              {% if project[1] is in current_user.perm_view %}
              <li class="nav-item">
                <a href="/projects/{{project[1]}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{project[1]}}</p>
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endif %}

          <li class="nav-header">ANALYSIS</li>
          <li class="nav-item">
            <a href="/analysis/scalar" class="nav-link">
              <i class="nav-icon fas fa-heartbeat"></i>
              <p>
                Scalar Diagnostics
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/analysis/om4labs" class="nav-link">
              <i class="nav-icon fas fa-flask"></i>
              <p>
                OM4labs
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/analysis/parameters" class="nav-link">
              <i class="nav-icon fas fa-file-code"></i>
              <p>
                Parameter Differences
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/analysis/stats" class="nav-link">
              <i class="nav-icon fas fa-compress-alt"></i>
              <p>
                Statistical Comparison
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/analysis/diffmaps" class="nav-link">
              <i class="nav-icon fas fa-globe-americas"></i>
              <p>
                Model-Model Differences
              </p>
            </a>
          </li>


          {% if current_user.is_authenticated %}
          <li class="nav-header">ADMIN</li>
          <li class="nav-item">
            <a href="/admin/experiment/new" class="nav-link">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Add Experiment
              </p>
            </a>
          </li>

          {% if current_user.admin %}
          <li class="nav-item">
            <a href="/admin/projects/new" class="nav-link">
              <i class="nav-icon fas fa-project-diagram"></i>
              <p>
                Add Project
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/users" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                Edit Users
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/projects" class="nav-link">
              <i class="nav-icon fas fa-tools"></i>
              <p>
                Edit Project
              </p>
            </a>
          </li>
          {% endif %}
          {% endif %}

          <li class="nav-header">USER SESSION</li>

          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Logout
              </p>
            </a>
          </li>

          {% else %}
          <li class="nav-item">
            <a href="/login.html" class="nav-link">
              <i class="nav-icon fas fa-sign-in-alt"></i>
              <p>
                Login
              </p>
            </a>
          </li>
          {% endif %}

          <!--
          <li class="nav-header">MISCELLANEOUS</li>
          <li class="nav-item">
            <a target="_blank" rel="noopener noreferrer"
               href="https://adminlte.io/docs/3.0/" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>UI Documentation</p>
            </a>
          </li>
          -->
 
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  